<div class="row">
	<div class="col-md-12">
		<h1>Creazione Scrutino Finale per il seggio <%= @seggio.numero %></h1>
	</div>
</div>

<%= render 'form', {url: seggi_finale_index_path, method: 'nessuno'} %>

<%= debug(params) %>