<!-- start: FOOTER -->
<footer id="footer">
	<div class="container">
		<div class="row">
			

		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<a class="logo" href="#">
						Referendum 2016 sulle Trivellazioni
					</a>
				</div>
				<div class="col-md-6">
					<p>
						&copy; Copyright 2016 by <a href="http://www.francescobucci.it" target="_blank">Francesco Bucci</a>. All Rights Reserved.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
<!-- end: FOOTER -->