<!-- start: FOOTER -->
<footer id="footer">
	<div class="container">
		<div class="row">
			

		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<a class="logo" href="#">
						Referendum 2016
					</a>
				</div>
				<div class="col-md-6">
					<p>
						&copy; Copyright 2016 by Francesco Bucci. All Rights Reserved.
					</p>
				</div>
				<div class="col-md-4">
					<nav id="sub-menu">
						<ul>
							<li>
								<a href="#">
									FAQ's
								</a>
							</li>
							<li>
								<a href="#">
									Sitemap
								</a>
							</li>
							<li>
								<a href="#">
									Contact
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>
<a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
<!-- end: FOOTER -->