<div class="row">
	<div class='col-md-12 center'>
		<%= image_tag("stemma_fondi.jpg", style: 'height: 120px; width:auto;') %>
		<h1>COMUNE DI FONDI</h1>
		<h3>Provincia di Latina</h3>
		<strong><h2>Ufficio Elettorale</h2></strong>
		</div>
</div>