<div class="row">
	<div class='col-md-12 center'>
		<%= image_tag("stemma_fondi.jpg", style: 'height: 110px; width:auto;') %>
		<h2><strong>COMUNE DI FONDI</strong></h2>
		<h3>Provincia di Latina</h3>
		<strong><h3>Ufficio Elettorale</h3></strong>
		</div>
</div>