<%= render 'intestazione' %>

<div class="row">
	<div class="col-md-12">
		<h1>Referendum popolare Domenica 17 aprile 2016</h1>
		<h2>Referendum abrogativo sulle trivellazioni</h2>
	</div>

	<div class="row">
		<div class="col-md-12">Informazioni sul referendum</div>
	</div>
</div>