<%= render 'intestazione' %>
<br>

<div class="row">
	<div class="col-md-12">
		<h1 class="center">Referendum abrogativo sulle trivellazioni</h1>
		<h2 class="center">Domenica 17 aprile 2016</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Abrogazione della legge sulle trivellazioni che permettono lo sfruttamento <strong>"per la durata di vita utile del giacimento, nel rispetto degli standard di sicurezza e di salvaguardia ambientale"</strong>. La norma sottoposta a referendum abrogativo si trova nella <strong>legge di stabilità 2016</strong></p>

		<p><a href="http://www.gazzettaufficiale.it/eli/id/2016/02/16/16A01356/sg" target="_blank">Leggi il testo sulla Gazzetta Ufficiale</a></p>
		
	</div>
</div>