<!-- start: HEADER -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<!-- start: TOP NAVIGATION CONTAINER -->
			<div class="container">
				<div class="navbar-header">
					<!-- start: RESPONSIVE MENU TOGGLER -->
					<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
						<span class="clip-list-2"></span>
					</button>
					<!-- end: RESPONSIVE MENU TOGGLER -->
					<!-- start: LOGO -->
					<%= link_to 'Gestione Referendum', seggis_path, class: "navbar-brand" %>
					<!-- end: LOGO -->
				</div>
				<div class="navbar-tools">
					<!-- start: TOP NAVIGATION MENU -->
					<ul class="nav navbar-right">
						
						<%# if utenti_signed_in? %>

						<!-- start: USER DROPDOWN -->
						<li class="dropdown current-user">

							<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
								<%= image_tag("user_blank.gif", size: '25x25', class: "circle-img") %>
								<span class="username"><%#= current_utenti.nome  %></span>
								<i class="clip-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">

								<li>
									<%#= link_to '<i class="clip-user-2"></i> Profilo'.html_safe, edit_utenti_registration_path %>
								</li>

								
								<li>
								<% if utenti_signed_in? %>		
									<%= link_to '<i class="clip-exit"></i> Log Out'.html_safe, destroy_utenti_session_path, :method => :delete %>
								<% else %>
									Non sei loggato
								<% end %>
								</li>


							</ul>
						</li>
						<!-- end: USER DROPDOWN -->

						<% else %>

						<li>
							<%#= link_to 'Accedi', new_utenti_session_path %>
						</li>

						<%# end %>

					</ul>
					<!-- end: TOP NAVIGATION MENU -->
				</div>
			</div>
			<!-- end: TOP NAVIGATION CONTAINER -->
		</div>
		<!-- end: HEADER -->